@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.bg-primary {
  background: #04060c !important;
}

.bg-secondary {
  background: #71fff8;
}

.text-primary {
  color: #ffffff;
}

.text-secondary {
  color: black;
}

.text-muted {
  color: #c7e5c8 !important;
}

.resume-btn,
.resume-btn:hover {
  background: #c7e5c8;
  color: black;
  border-color: #c7e5c8;
}

body {
  background: #04060c !important;

  color: #ffffff;
}

.skills-icon {
  font-size: 5rem;
}

.links > a {
  color: #c7e5c8;
}

.card-img-overlay {
  background: rgba(4, 6, 13, 0.7);
  display: none;
}

.dna,
.weather > img {
  min-height: 15rem;
}

.card-img-overlay {
  background: rgba(4, 6, 13, 0.7);
  display: none;
}

.card > img {
  max-width: 100%;
  height: 21.75rem;
}

.card:hover > .card-img-overlay {
  display: block;
  cursor: pointer;
}

.heading-border {
  border-width: 5px;
  width: 3rem;
}

.skills,
.about {
  background: #4f5b62;
}

.video-showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;

  justify-content: center;

  text-align: center;
  color: white;
}

.video-showcase-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-showcase-container video {
  min-width: 100%;
  min-height: 100%;

  object-fit: cover;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.video-showcase-container:after {
  content: '';

  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(79, 91, 98, 0.7);
}

.content {
  z-index: 10;
}

@media (min-width: 768px) {
  .skill-item {
    height: 100% !important;
  }
}
